html {
    margin: 2rem;
}

body {
    display: flex;
    height: auto;
    margin: -1rem;
}

body > * {
    flex: 0 1 50%;
    margin: 1rem;
}

* {
    font-family: 'Lato', sans-serif;
}

strong {
    font-weight: 900;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: #241b3e;
}

h1, h2 {
    font-size: 3rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: .5rem 0;
}